{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>% DEMO DATA % | OLGA</title>
    <link rel="stylesheet" type="text/css" href="{% static 'graph_creator/styles.css' %}" />

    {% block head %}
    {% endblock %}
</head>

<body class="view-course-engagement view-dashboard" data-gr-c-s-loaded="true">
    <header class="navbar navbar-default" id="nav">
        <div class="grid-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav" role="tab"
                        aria-selected="false" aria-expanded="false" id="ui-collapse-671">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/" data-track-type="click" data-track-event="edx.bi.ui.menu.navigated"
                   data-track-url="/" data-track-target-scope="insights" data-track-target-lens="home"
                   data-track-menu-depth="home" data-track-link-name="logo">
                    <div class="navbar-brand-logo" alt="demo"></div>
{#                    <span class="navbar-brand-app">OLGA</span>#}
                </a>

                <ul class="nav navbar-nav">
                    <li><a href="#" id="olga-dates" class="navbar-link active-course-name">
                        Open edX Learners Global Analytics for
                        {{ first_datetime_of_update_data|date:"Y-m" }} — {{ last_datetime_of_update_data|date:"Y-m" }}</a>
                    </li>
                </ul>
            </div>
            <!-- / navbar-collapse -->
        </div>
        <!-- / container -->
    </header>
    <!-- / navbar -->

    {% block body %}
    {% endblock %}

    {#FOOTER#}
    <div id="footer-sock">
        <footer class="footer" aria-label="Application">
            <div class="feedback">
                <div class="grid-container grid-manual">
                    <div class="row">
                        <div class="col col-12">
                            This information is gathered in anonymous manner from volunteered Open edX instances.
                            Thanks a lot for participation! <br/>Want to be a part of this?
                            <a class="support-email" href="mailto:olga@raccoongang.com?Subject=Participation">
                                Contact OLGA team</a>.<br/>Comments or suggestions? Email
                            <a class="feedback-email" href="mailto:info@raccoongang.com?Subject=Feedback">olga@raccoongang.com</a>.
                        </div>
                    </div>
                </div>
            </div>

            <div class="legal">
                <div class="grid-container grid-manual">
                    <div class="row">
                        <div id="footer-text" class="col col-12 sm-col-12 md-col-6 text-right">
                            <p class="copyright">by Raccoon Gang, 2017</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    {% block footer %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous">
    </script>
    {% block script %}
    {% endblock %}

</body>
</html>
