{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>% DEMO DATA % | OLGA</title>
    <link rel="stylesheet" type="text/css" href="{% static 'graph_creator/styles.css' %}" />

    {% block head %}
    {% endblock %}

</head>

<body class="view-course-engagement view-dashboard" data-gr-c-s-loaded="true">
    {% block body %}
    {% endblock %}
    <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous">
    </script>
    {% block script %}
    {% endblock %}
</body>
</html>
