{% extends 'graph_creator/base.html' %}
{% load static %}

{% block head %}
    <style>
        .active { fill: blue !important;}
        /*.datamaps-key dt, .datamaps-key dd {float: none !important;}
        .datamaps-key {right: -50px; top: 0;}*/
    </style>
{% endblock %}

{% block body %}

    <h4 class="map-header">Students per country statistics</h4>

    <div class="container-fluid map-container">
        <div id="container1"></div>
    </div>

    <h4 class="metrics-header">Enrollment Metrics</h4>

    <div class="container metrics-container">
        <div class="col-md-4">
            <div class="row metric">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Top Country by Enrollment</h3>
                        <p>{{ top_country }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row metric">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Countries in Statistics</h3>
                        <p>{{ countries_amount }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="metrics-header">Students per country distribution</h4>

    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Country</th>
                    <th>Students amount</th>
                    <th>Students amount in %</th>
                </tr>
                    {% for country in tabular_countries_list %}
                        <tr>
                            <td>{{ country.0 }}</td>
                            <td>{{ country.1 }}</td>
                            <td>%</td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        // Define JS global vars to work with external datamap.js file.
        var countries_list = JSON.parse('{{ datamap_countries_list|safe }}');
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="{% static 'graph_creator/datamaps.world.min.js' %}"></script>
    <script src="{% static 'graph_creator/worldmap.js' %}"></script>
{% endblock %}
