{% extends 'charts/base.html' %}
{% load static %}
{% block head %}
    <script src="https://cdn.plot.ly/plotly-1.27.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <link rel="stylesheet" href="{% static 'charts/edits.css' %}">
{% endblock %}

{% block body %}
    <script>
        // Define JS global vars to work with external graph.js file.
        var timeline = JSON.parse('{{ timeline|safe }}');
        var students = JSON.parse('{{ students|safe }}');
        var courses = JSON.parse('{{ courses|safe }}');
        var instances = JSON.parse('{{ instances|safe }}');
        var newData = {
            'total_registered_students': 12300,
            'total_generated_certificates': {{ generated_certificates_count|safe }},
            'monthly': {{ charts|safe }}
        }
    </script>

<div id="wrap-content-push-footer-sock">
    <a id="skip" href="#content" class="skip-link">Skip to content</a>

        {#NAVBAR#}
        <nav class="navbar navbar-default lens-nav" role="navigation" aria-label="Application">
            <div class="grid-container">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <button class="dropdown-toggle navbar-link" data-toggle="dropdown" id="lensPrimaryMenu"
                                aria-controls="lensDropdownMenu" aria-haspopup="true" aria-expanded="false">

                            <span class="link-label">
                                Engagement
                            </span>
                        </button>
                    </li>

                    <li class="active nav-section">
                        <a href="{% url 'charts:charts' %}" data-track-type="click"
                           data-track-event="edx.bi.ui.menu.navigated" data-track-text="Content"
                           data-track-url="#" data-track-target-scope="course" data-track-target-lens="engagement"
                           data-track-target-report="content" data-track-target-depth="" data-track-menu-depth="report"
                           data-track-link-name="content">

                            <span class="link-label">
                                Numbers <span class="sr-only">(Active)</span>
                            </span>
                        </a>
                    </li>

                    <li class=" nav-section">
                        <a href="{% url 'charts:map' %}" data-track-type="click"
                           data-track-event="edx.bi.ui.menu.navigated" data-track-text="Videos"
                           data-track-url="#"
                           data-track-target-scope="course" data-track-target-lens="engagement"
                           data-track-target-report="videos" data-track-target-depth=""
                           data-track-menu-depth="report" data-track-link-name="videos">

                            <span class="link-label">Geography</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="grid-container grid-manual">
            <div class="row">
                <main class="col col-12 sm-col-12 main" id="content" aria-label="Application">
                    <div class="view-head"></div>
                        <div class="view-intro row">
                        <p class="lead text-muted intro-text"></p>
                    </div>

                    {#METRICS#}
                    <section class="view-section">
                        <div class="section-heading bordered">
                            <h4 class="section-title">Global Activity Metrics</h4>
                        </div>
                        <div class="row">
                            <div class="col col-12 sm-col-12 md-col-2" data-activity-type="any">
                                <div class="summary-point text-center">
                                    <div class="summary-point-wrapper"><div class="summary-point-number" title="{{ instances_count }}">{{ instances_count }}</div><div class="summary-point-label">Instances</div></div>
                                </div>
                            </div>
                            <div class="col col-12 sm-col-12 md-col-2" data-activity-type="any">
                                <div class="summary-point text-center">
                                    <div class="summary-point-wrapper"><div class="summary-point-number" title="{{ courses_count }}">{{ courses_count }}</div><div class="summary-point-label">Courses</div></div>
                                </div>
                            </div>
                            <div class="col col-12 sm-col-12 md-col-2" data-activity-type="any">
                                <div class="summary-point text-center">
                                    <div class="summary-point-wrapper"><div class="summary-point-number" title="{{ students_count }}">{{ students_count }}</div><div class="summary-point-label">Active Students</div></div>
                                </div>
                            </div>
                            <div class="col col-12 sm-col-12 md-col-3" data-activity-type="any">
                                <div class="summary-point text-center">
                                    <div class="summary-point-wrapper"><div class="summary-point-number" title="{{ total_generated_certificates }}" id="js-total-cert">{{ total_generated_certificates }}</div><div class="summary-point-label">Certificates</div></div>
                                </div>
                            </div>
                            <div class="col col-12 sm-col-12 md-col-3" data-activity-type="any">
                                <div class="summary-point text-center">
                                    <div class="summary-point-wrapper"><div class="summary-point-number" title="{{ total_registered_students }}" id="js-total-stud">{{ total_registered_students }}</div><div class="summary-point-label">Total Registered Students</div></div>
                                </div>
                            </div>
                        </div>
                    </section>

                    {#CHARTS#}
                    <section class="view-section" aria-hidden="true">
                        <div class="section-heading">
                          <h4 class="section-title">Global Learners Engagement</h4>
                          <span class="section-heading-note small">
                              How many learners are interacting with Open edX courses?
                          </span>
                        </div>
                        <div class="section-content section-data-graph">
                            <div class="section-content section-data-viz">
                                <div class="analytics-chart-container">
                                    <div>
                                        <p class="tooltip-unzoom">To zoom/unzoom plot - double click on it</p>
                                        <div>
                                            <div id="instances"></div>
                                            <div id="courses"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    {#UPDATE TIME#}

                    <div class="data-update-message">Course engagement data was last updated
                        {{ last_datetime_of_update_data|date:"Y-m-d" }} at {{ last_datetime_of_update_data|date:"H:i" }} UTC+2.
                    </div>
                </main>
            </div>
        </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <div id="footer-sock-push"></div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
    <script src="{% static 'charts/graphs.js' %}"></script>
{% endblock %} }}
